<form class="login_form" autocomplete="off" action="/login" method="post">
      <!-- aria-hidden - hide element from readers - this attribute for invalid -->
      <div class="form_icon" aria-hidden="true"></div>
      <div class="input_container">
        <input
          id="login_name"
          aria-label="User"
          type="text"
          name="username"
          placeholder=" "
          required
        />
        <label for="login_name">Login:</label>
      </div>
      <div class="input_container">
        <!-- aria-label - attribute for readers - input before label, inform what is input -->
        <input
          id="password"
          aria-label="Password"
          type="password"
          name="password"
          placeholder=" "
          required
        />
        <label for="password">Password:</label>
      </div>
      <div class="form_spacer" aria-hidden="true"></div>
      <button type="submit">Log In</button>
      <div class="option">
          <a href="/forgot-password">Forgot password?</a>
          <a href="/registration">Create Account</a>
      </div>
    </form>